
  <div class="">
    <a href="https://github.com/ryanjyoder/tech-hubs-africa/edit/main/content/{{.File.Path}}/"  class="post_tag button button_translucent" >suggest an edit on GitHub</a>
    
    <br />
    Website:
    {{ with .Params.website }}
      <a href="{{ . }}" class="twitter" title="Twitter" target="_blank" rel="nofollow">
        {{ . }}
      </a>
    {{end }}
    <br />

    Twitter: 
    {{ with .Params.Twitter }}
      <a href="https://twitter.com/{{ . }}" class="twitter" title="Twitter" target="_blank" rel="nofollow">
        https://twitter.com/{{ . }}
      </a>
    {{end }}
    <br />

    Facebook:
    {{ with .Params.facebook }}
      <a href="{{ . }}" class="facebook" target="_blank" rel="nofollow">
        {{.}}
      </a>
    {{ end }}
    <br />

      <br />
    {{ with .Params.linkedin }}
      Linkedin:
      <a href="{{ . }}" id = "linkedinshare" class="linkedin" rel="nofollow">
        [linkedin]
      </a>
    {{ end }}

    City: {{ with .Params.city }} {{.}} {{ end }} <br />
    Country: {{ with .Params.country }} 
    <a href='{{ absLangURL "country" }}/{{ . | urlize }}/' class="" title="{{ . }}">{{.}}</a>
    {{ end }}
  </div>
  